In [2]:
# importation des librairies et modules necessaires pour la realisation de ce projet

import os, pandas as pd, numpy as np, matplotlib.pyplot as plt, pickle as pkl
from sklearn import model_selection as modele, linear_model as lm, metrics as mes

In [3]:
os.getcwd()

'C:\\Users\\marc\\Documents\\projet_regression_logistique'

In [4]:
os.chdir("C:\\Users\\marc\\Documents\\projet_regression_logistique")

In [5]:
# 1- importation du fichier coeur

data = pd.read_excel("Coeur.xlsx")
data.head()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0

In [6]:
# 2- copie de du dataframe dans la variable df

df = data.copy()

In [7]:
# 3- verifions s'il y'a des doublons dans df
# on peut voir qu'il y'a 0 doublon donc on n'a pas de ligne a supprimer

df.duplicated().sum()

0

In [8]:
# 4- verifions s'il y'a des contantes ou encore des variables a une modalite dans notre dataset
# on voit que chaque colonne a au moins 2 valeurs differentes donc pas de constante dans notre jeux de donnees

df.nunique()

AGE             50
SEXE             2
TDT              4
PAR             67
CHOLESTEROL    222
GAJ              2
ECG              3
FCMAX          119
ANGINE           2
DEPRESSION      53
PENTE            3
CŒUR             2
dtype: int64

In [9]:
# 5- verifions s'il y'a des donnees manquantes
# il n'y a pas de donnees manquantes donc on a aucune ligne a supprimer
df.isna().sum()

AGE            0
SEXE           0
TDT            0
PAR            0
CHOLESTEROL    0
GAJ            0
ECG            0
FCMAX          0
ANGINE         0
DEPRESSION     0
PENTE          0
CŒUR           0
dtype: int64

In [10]:
# 6- normalisons les variables quantitatives

# on recupere la liste des variables quantitatives
quant = ['AGE', 'PAR', 'CHOLESTEROL', 'FCMAX', 'DEPRESSION']

# on normailse en divisant les elements de chaque variable quanti par leurs moyennes respective arrondi a l'ordre 2
df[quant] = round(df[quant]/df[quant].mean(), 2)

# on affiche un appercu des resulats
df.head()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,0.75,homme,AA,1.06,1.45,0,Normal,1.26,Non,0.00,Ascendant,0
1,0.92,femme,DNA,1.21,0.91,0,Normal,1.14,Non,1.13,Plat,1
2,0.69,homme,AA,0.98,1.42,0,ST,0.72,Non,0.00,Ascendant,0
3,0.90,femme,ASY,1.04,1.08,0,Normal,0.79,Oui,1.69,Plat,1
4,1.01,homme,DNA,1.13,0.98,0,Normal,0.89,Non,0.00,Ascendant,0

In [11]:
# 7 - recodage des variable qualitatives

# avant verifions la nature des variables

df.dtypes

AGE            float64
SEXE            object
TDT             object
PAR            float64
CHOLESTEROL    float64
GAJ              int64
ECG             object
FCMAX          float64
ANGINE          object
DEPRESSION     float64
PENTE           object
CŒUR             int64
dtype: object

In [12]:
# la variable qualitative GAJ etant deja recode en 0 et 1 alors nous l'excluons du recodage des variables qualitatives

# nous creons une fonction de recodage pour nous aider

def recode(dataset):
    
    dict_sexe = {"homme":1, "femme":0}
    dataset['SEXE'].replace(dict_sexe, inplace = True)
    
    dict_tdt = {"AA":0, "ASY":1, "AT":2, "DNA":3}
    dataset['TDT'].replace(dict_tdt, inplace = True)
    
    dict_ecg  = {"ST":0, "Normal":1, "LVH":2}
    dataset['ECG'].replace(dict_ecg, inplace = True)
    
    dict_angine = {"Oui":1, "Non":0}
    dataset['ANGINE'].replace(dict_angine, inplace = True)
    
    dict_pente = {"Descendant":0, "Plat":1, "Ascendant":2}
    dataset['PENTE'].replace(dict_pente, inplace = True)
    
    return dataset

recode(df)

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,0.75,1,0,1.06,1.45,0,1,1.26,0,0.00,2,0
1,0.92,0,3,1.21,0.91,0,1,1.14,0,1.13,1,1
2,0.69,1,0,0.98,1.42,0,0,0.72,0,0.00,2,0
3,0.90,0,1,1.04,1.08,0,1,0.79,1,1.69,1,1
4,1.01,1,3,1.13,0.98,0,1,0.89,0,0.00,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,0.84,1,2,0.83,1.33,0,1,0.96,0,1.35,1,1
914,1.27,1,1,1.09,0.97,1,1,1.03,0,3.83,1,1
915,1.07,1,1,0.98,0.66,0,1,0.84,1,1.35,1,1
916,1.07,0,0,0.98,1.19,0,2,1.27,0,0.00,1,1
917,0.71,1,3,1.04,0.88,0,1,1.26,0,0.00,2,0

In [13]:
# 8- separons la variable cible des variables explicatives

X = df.iloc[:, 0:11]

Y = df['CŒUR']

In [14]:
# 9- susbdivision des donnees

X_train, X_test, Y_train, Y_test = modele.train_test_split(X, Y, test_size = 0.2, random_state=3)

In [15]:
# 10- construction du modele de regression logistique

mod = lm.LogisticRegression(penalty = 'none', solver = 'newton-cg')
mod.fit(X_train, Y_train)

LogisticRegression(penalty='none', solver='newton-cg')

In [16]:
# 11 probabilité d'appartenance

mod.predict_proba(X_test)

array([[0.11397104, 0.88602896],
       [0.0648955 , 0.9351045 ],
       [0.06028167, 0.93971833],
       [0.07824209, 0.92175791],
       [0.78889226, 0.21110774],
       [0.05951588, 0.94048412],
       [0.02225712, 0.97774288],
       [0.16785596, 0.83214404],
       [0.90311809, 0.09688191],
       [0.88177313, 0.11822687],
       [0.78395635, 0.21604365],
       [0.9417969 , 0.0582031 ],
       [0.98233051, 0.01766949],
       [0.1897447 , 0.8102553 ],
       [0.01246558, 0.98753442],
       [0.96661425, 0.03338575],
       [0.05288726, 0.94711274],
       [0.03221551, 0.96778449],
       [0.12277822, 0.87722178],
       [0.17445984, 0.82554016],
       [0.24573296, 0.75426704],
       [0.25135499, 0.74864501],
       [0.00556492, 0.99443508],
       [0.32769285, 0.67230715],
       [0.87104889, 0.12895111],
       [0.10601921, 0.89398079],
       [0.09640451, 0.90359549],
       [0.73763946, 0.26236054],
       [0.88550182, 0.11449818],
       [0.01816329, 0.98183671],
       [0.04833585, 0.95166415],
       [0.36621978, 0.63378022],
       [0.00373322, 0.99626678],
       [0.97273763, 0.02726237],
       [0.53184607, 0.46815393],
       [0.97689998, 0.02310002],
       [0.05496225, 0.94503775],
       [0.82189152, 0.17810848],
       [0.1703304 , 0.8296696 ],
       [0.30166715, 0.69833285],
       [0.15511718, 0.84488282],
       [0.03174655, 0.96825345],
       [0.8392955 , 0.1607045 ],
       [0.48542692, 0.51457308],
       [0.96240457, 0.03759543],
       [0.00811002, 0.99188998],
       [0.18422865, 0.81577135],
       [0.16343077, 0.83656923],
       [0.76175999, 0.23824001],
       [0.26419569, 0.73580431],
       [0.16212858, 0.83787142],
       [0.08214364, 0.91785636],
       [0.22308888, 0.77691112],
       [0.9612857 , 0.0387143 ],
       [0.33823161, 0.66176839],
       [0.08442366, 0.91557634],
       [0.94370961, 0.05629039],
       [0.80841972, 0.19158028],
       [0.05189781, 0.94810219],
       [0.31323183, 0.68676817],
       [0.97726961, 0.02273039],
       [0.06196426, 0.93803574],
       [0.83328257, 0.16671743],
       [0.0547723 , 0.9452277 ],
       [0.0356686 , 0.9643314 ],
       [0.95777008, 0.04222992],
       [0.65606939, 0.34393061],
       [0.01334107, 0.98665893],
       [0.95043402, 0.04956598],
       [0.30445692, 0.69554308],
       [0.61205151, 0.38794849],
       [0.970498  , 0.029502  ],
       [0.97096129, 0.02903871],
       [0.14673587, 0.85326413],
       [0.61929624, 0.38070376],
       [0.95484962, 0.04515038],
       [0.04441031, 0.95558969],
       [0.13516116, 0.86483884],
       [0.79190156, 0.20809844],
       [0.9628237 , 0.0371763 ],
       [0.00195205, 0.99804795],
       [0.46619021, 0.53380979],
       [0.28537837, 0.71462163],
       [0.0302274 , 0.9697726 ],
       [0.85931591, 0.14068409],
       [0.23416106, 0.76583894],
       [0.76347524, 0.23652476],
       [0.09138467, 0.90861533],
       [0.89463702, 0.10536298],
       [0.73157072, 0.26842928],
       [0.88331794, 0.11668206],
       [0.00809132, 0.99190868],
       [0.44201977, 0.55798023],
       [0.91969248, 0.08030752],
       [0.08378597, 0.91621403],
       [0.06146917, 0.93853083],
       [0.89272167, 0.10727833],
       [0.876113  , 0.123887  ],
       [0.73991784, 0.26008216],
       [0.75324169, 0.24675831],
       [0.03505201, 0.96494799],
       [0.76379247, 0.23620753],
       [0.00331702, 0.99668298],
       [0.55957116, 0.44042884],
       [0.82405571, 0.17594429],
       [0.11685782, 0.88314218],
       [0.27811283, 0.72188717],
       [0.15313694, 0.84686306],
       [0.06805565, 0.93194435],
       [0.88555571, 0.11444429],
       [0.02107735, 0.97892265],
       [0.00288722, 0.99711278],
       [0.74493304, 0.25506696],
       [0.97358674, 0.02641326],
       [0.94854771, 0.05145229],
       [0.53954571, 0.46045429],
       [0.82384744, 0.17615256],
       [0.8501175 , 0.1498825 ],
       [0.02204458, 0.97795542],
       [0.95620652, 0.04379348],
       [0.12215009, 0.87784991],
       [0.08128923, 0.91871077],
       [0.56553714, 0.43446286],
       [0.86438925, 0.13561075],
       [0.93444783, 0.06555217],
       [0.33392063, 0.66607937],
       [0.78892056, 0.21107944],
       [0.92605438, 0.07394562],
       [0.9592949 , 0.0407051 ],
       [0.98141296, 0.01858704],
       [0.12501636, 0.87498364],
       [0.08278903, 0.91721097],
       [0.90771022, 0.09228978],
       [0.07586821, 0.92413179],
       [0.94725931, 0.05274069],
       [0.03703854, 0.96296146],
       [0.16154962, 0.83845038],
       [0.75581279, 0.24418721],
       [0.91433   , 0.08567   ],
       [0.51701811, 0.48298189],
       [0.11546695, 0.88453305],
       [0.81262162, 0.18737838],
       [0.89601643, 0.10398357],
       [0.63177686, 0.36822314],
       [0.05285716, 0.94714284],
       [0.95291888, 0.04708112],
       [0.14944774, 0.85055226],
       [0.95279875, 0.04720125],
       [0.20900927, 0.79099073],
       [0.22645499, 0.77354501],
       [0.04631695, 0.95368305],
       [0.08247462, 0.91752538],
       [0.0648748 , 0.9351252 ],
       [0.69137574, 0.30862426],
       [0.82696178, 0.17303822],
       [0.72961737, 0.27038263],
       [0.08820014, 0.91179986],
       [0.06968274, 0.93031726],
       [0.81721957, 0.18278043],
       [0.04668273, 0.95331727],
       [0.94387496, 0.05612504],
       [0.72467297, 0.27532703],
       [0.84915835, 0.15084165],
       [0.05585951, 0.94414049],
       [0.6066494 , 0.3933506 ],
       [0.05812766, 0.94187234],
       [0.35405955, 0.64594045],
       [0.70782765, 0.29217235],
       [0.2388672 , 0.7611328 ],
       [0.85064821, 0.14935179],
       [0.05520069, 0.94479931],
       [0.63733888, 0.36266112],
       [0.04451906, 0.95548094],
       [0.75097171, 0.24902829],
       [0.89382244, 0.10617756],
       [0.82601539, 0.17398461],
       [0.3846761 , 0.6153239 ],
       [0.32019217, 0.67980783],
       [0.06599947, 0.93400053],
       [0.38420718, 0.61579282],
       [0.93655155, 0.06344845],
       [0.12464858, 0.87535142],
       [0.9091864 , 0.0908136 ],
       [0.12529206, 0.87470794]])

In [17]:
# 12 prediction

pred = mod.predict(X_test)

pred

array([1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 1], dtype=int64)

In [18]:
# 13 

# matrix de confusion

mes.confusion_matrix(Y_test, pred)

array([[74, 12],
       [12, 86]], dtype=int64)

In [19]:
# accuracy_score

mes.accuracy_score(Y_test, pred)

0.8695652173913043

In [20]:
# recall_score

mes.recall_score(Y_test, pred)

0.8775510204081632

In [21]:
# precision_score

mes.precision_score(Y_test, pred)

0.8775510204081632

In [22]:
# sauvegarde du modele de prediction mod

pkl.dump(mod, open('modele.pkl', 'wb' ))